img.center{
  	display: block;
  	margin-right: auto;
	margin-left: auto;
}
h1.title {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  	font-weight: bold;
  	font-size: 62px;
	text-align: center;

}