img.center{
  	display: block;
  	margin-right: auto;
	margin-left: auto;
	width:400px;
}
h1.title {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  	font-weight: bold;
  	font-size: 45px;
	text-align: center;

}
h2{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
}

h3{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
}

p{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
}
a.link{
	font-weight: bold;
  	font-size: 20px;
}